<html>
    <body>
        Welcome to Contact us page

        <form method="POST">
            Name: <input type="text" name="txtname">
            <input type="submit">
        </form>
    </body>
</html>